<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li>
        <a href="/events">Events</a>
      </li>
      <li><%= @event.name %> (<%= @event.event_date %>)</li>
      <li class="active">Edit</li>
    </ul>
  </div>
</div>
<br /><br /><br />
<br /><br /><br />

<%= bootstrap_form_for(@event) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :event_date, class: 'datepicker' %>
  <%= link_to 'Back', @grade, class: 'btn btn-default' %>
  <%= f.submit 'Create', class: 'btn btn-success' %>
<% end %>

