<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li>
        <a href="/players">Players</a>
      </li>
      <li class="active">New</li>
    </ul>
  </div>
</div>
<%= bootstrap_form_for(@player) do |f| %>
  <div class="row">
    <div class="col-lg-5 col-xs-12">
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.select :gender, Player::GENDER_OPTIONS %>
      <%= f.select :grade_id, options_from_collection_for_select(Grade.by_rank.all, :id, :name) %>
      <%= f.select :membership_type, Player::MEMBERSHIP_TYPES %>
    </div>
    <div class="col-lg-5 col-xs-12">
      <%= f.number_field :age %>
      <%= f.text_field :email %>
      <%= f.text_field :phone %>
      <%= f.text_field :address1 %>
      <%= f.text_field :address2 %>
      <%= f.text_field :suburb %>
      <%= f.text_field :postal_code %>
      <div class="form-group">
        <%= f.label :country_code, "Country" %>
        <%= country_select :player, :country_code, {priority_countries: ["NZ"], selected: "NZ"}, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= link_to 'Back', players_path, class: 'btn btn-default' %>
  <%= f.submit 'Create', class: 'btn btn-success' %>

<% end %>


