<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li>
        <a href="/players">Players</a>
      </li>
      <li><%= link_to @player.name, [@player] %></li>
    </ul>
  </div>
</div>

<h2><%= @player.name %> <small class="label label-success header-inline"  style="background-color: #<%= @player.grade_colour %>;"><%= @player.grade.name %></small></h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <p>
      <strong>Age:</strong>
      <%= @player.age %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @player.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @player.phone %>
    </p>
  </div>
  <div class="col-xs-12 col-md-4">
    <p>
      <strong>Address1:</strong>
      <%= @player.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= @player.address2 %>
    </p>

    <p>
      <strong>Suburb:</strong>
      <%= @player.suburb %>
    </p>

    <p>
      <strong>Postal code:</strong>
      <%= @player.postal_code %>
    </p>

    <p>
      <strong>Country</strong>
      <%= @player.country_name %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <%= link_to 'Back', players_path, class: 'btn btn-default'  %>
    <%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-warning' %>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
